body {
    margin: 0;
    padding: 0;
}

.main__template {
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: "navbar navbar"
                         "sidebar content"
}