.profile {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 3fr;
}

.profile__header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #ffffff;
    border: 2px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    font-weight: bold;
}

.header__title {
    align-self: center;
    font-size: 24px;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.profile__tabs {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: 1fr 1fr 10fr;
}

.profile__tab {
    display: grid;
    text-align: center;
    border: 1px solid #cec9c9;
}

.profile__tab__link {
    text-align: center;
    margin-top: 5%;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: #cec9c9;
    font-weight: bold;
    text-decoration: none;
}

.profile__tab__link:focus {
    color: #222222;
}

.edit__profile {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 3;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    margin-left: 50px;
    width: 40%;

}

.tab__name {
    margin-top: 10%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.avatar {

}

.edit__name {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr 1fr;
}

.edit__name__block1 {
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 1fr;

}

.edit__name__block2 {
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 1fr;
    margin-left: 30%;

}

.edit__name__label {
    display: grid;
    grid-row: 1;
    font-family: 'Ubuntu', sans-serif;
    color: #a8a3a3;
    font-weight: bold;
}

.edit__name__input {
    display: grid;
    grid-row: 2;
    font-weight: bold;
    border: 1px solid #dcd6d6;
    border-radius: 4px;
    font-size: 15px;
    height: 100%;
}

.edit__email {
    display: grid;
    grid-row: 4;
    grid-column: 1 / 3;
}

.edit__email__label {
    color: #a8a3a3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.edit__email__input {
    border: 1px solid #dcd6d6;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    height: 30%;
}

.edit__phone {
    display: grid;
    grid-row: 5;
    grid-column: 1 / 3;
}

.edit__phone__label {
    color: #a8a3a3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.edit__phone__input {
    border: 1px solid #dcd6d6;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    height: 30%;
}

.edit__password {
    display: grid;
    grid-row: 6;
    grid-column: 1 / 3;
}

.edit__password__label {
    color: #a8a3a3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.edit__password__input {
    border: 1px solid #dcd6d6;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    height: 30%;
}

.profile__save__button__block {
    display: grid;
    grid-row: 7;
    justify-self: center;
    margin-bottom: 16%;
    grid-column: 1 / 3;
    width: 20%;
    height: 100%;
}

.profile__save__button {
    height: 40%;
    background-color: #0b59cb;
    color: #dcd6d6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}

.edit__email__input:focus {
    border: 1px solid #bab2b2;
}

::-webkit-input-placeholder {
    color: #222222;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
